{% extends "base_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class={{ data_type }}>
    <h1>{{ data_type }}</h1>
  {% for message in get_flashed_messages() %}
  <div class=flash>
    {{ message }}
  </div>
  {% endfor %}

  {% if data and data is sequence %}
  {% for datum in data %}
    <p><a href="{{ datum.id }}">{{ datum.name }}</a></p>
  {% endfor %}
  {% elif data and data is not sequence %}
  <p><a href="{{ data.id }}">{{ data.name }}</a></p>
  <h2>{{ subdata_type }}</h2>
  {% for subdatum in subdata %}
  <p><a href="/tracker/samples/{{ subdatum.id }}">{{ subdatum.name }}</a></p>
  {% endfor %}
  {% else %}
    <p>no recent items</p>
  {% endif %}

</div>
{% endblock %}
