{% extends "base_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class={{ data_type }}>
  <h1>{{ data_type }}</h1>
  {% for message in get_flashed_messages() %}
  <div class=flash>
    {{ message }}
  </div>
  {% endfor %}
  {% if data and data is sequence %}
  {% for datum in data %}
  <p><a href="{{ datum.id }}">{{ datum.name }}</a></p>
  {% endfor %}
  {% elif data and data is not sequence %}
  <table>
    <tr><td>Name:</td><td><a href="{{ data.id }}">{{ data.name }}</a></td></tr>
    <tr><td>Antibody:</td><td>{{ data.user_id }}</td></tr>
    <tr><td>Cell Line:</td><td>{{ data.cell_line }}</td></tr>
    <tr><td>Bioanalyzer Shearing:</td><td>{{ data.bioanalyzer_shearing }}</td></tr>
    <tr><td>Library Yield:</td><td>{{ data.library_yield }}</td></tr>
    <tr><td>Adaptor:</td><td>{{ data.adaptor }}</td></tr>
    <tr><td>Bioanalyzer Library:</td><td>{{ data.bioanalyzer_library }}</td></tr>
    <tr><td>Amount Submitted:</td><td>{{ data.amount_submitted }}</td></tr>
    <tr><td>Concentration:</td><td>{{ data.concentration }}</td></tr>
    <tr><td>Fedex Tracking Number:</td><td>{{ data.fedex_tracking_number }}</td></tr>
    <tr><td>Comments:</td><td>{{ data.comments }}</td></tr>
    <tr><td>Sample:</td><td>{{ data.sample.name }}</td></tr>
    <tr><td>Timestamp:</td><td>{{ data.timestamp }}</td></tr>
  </table>
  {% if subdata_type %}
  <h2>{{ subdata_type }}</h2>
  {% if subdata and subdata is sequence %}
  {% for subdatum in subdata %}
  <p><a href="/tracker/{{ subdata_type }}/{{ subdatum.id }}">{{ subdatum.name }}</a> | {{ subdatum.timestamp }}</p>
  {% endfor %}
  {% else %}
  <p>no recent items</p>
  {% endif %}
  {% endif %}
  {% else %}
  <p>no recent items</p>
  {% endif %}
</div>
{% endblock %}
