{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class=projects>
  <h1>projects</h1>
  {% for message in get_flashed_messages() %}
  <div class=flash>
    {{ message }}
  </div>
  {% endfor %}

  {% if projects and projects is sequence %}
  {% for project in projects %}
  <p><a href="{{ project.id }}">{{ project.name }}</a></p>
  {% endfor %}
  {% elif projects and projects is not sequence %}
  <p><a href="{{ projects.id }}">{{ projects.name }}</a></p>
  {% else %}
  <p>no recent projects</p>
  {% endif %}

</div>
{% endblock %}
