{% extends "base_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class=general>
  <h1>admin</h1>
  <ul>
    <li><a href="{{ url_for('forms.new_user') }}">add new user</a></li>
    <li><a href="{{ url_for('forms.new_news') }}">add new news</a></li>
    <li><a href="{{ url_for('forms.new_update') }}">add new update</a></li>
    <li><a href="{{ url_for('forms.new_project') }}">add new project</a></li>
    <li><a href="{{ url_for('forms.new_sample') }}">add new sample</a></li>
    <li><a href="{{ url_for('forms.new_preparation') }}">add new preparation</a></li>
    <li><a href="{{ url_for('forms.new_sequencing') }}">add new sequencing</a></li>
    <li><a href="{{ url_for('forms.new_processing') }}">add new processing</a></li>
  </ul>
</div>
{% endblock %}
