{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class=blurb>
  <h1>simple, lightweight data tracker</h1>
  <p>
    This is where I put an abstract-like description of the site.
  </p>
  <p>
    more stuff here.
  </p>
</div>

<div class=updates>
  <h2>recent updates (<a href="{{ url_for('general.updates') }}">more</a>)</h2>
  {% if updates %}
  {% for update in updates %}
  <h3>{{ update.name }}</h3>
  {% endfor %}
  {% else %}
  <p>no recent updates</p>
  {% endif %}
</div>

<div class=news>
  <h2>latest news (<a href="{{ url_for('general.news') }}">more</a>)</h2>
  {% if news %}
  {% for new in news %}
  <h3>{{ new.title }}</h3>
  <p>{{ new.body }}</p>
  {% endfor %}
  {% else %}
  <p>no recent news</p>
  {% endif %}
</div>
{% endblock %}
