{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class=news>
  <h1>news</h1>
  {% for message in get_flashed_messages() %}
  <div class=flash>
    {{ message }}
  </div>
  {% endfor %}

  {% if news and news is sequence %}
  {% for new in news %}
  <h2><a href="{{ new.id }}">{{ new.title }}</a></h2>
  <h3>{{ new.timestamp }}</h3>
  <p>{{ new.body }}</p>
  {% endfor %}
  {% elif news and news is not sequence %}
  <h2><a href="{{ news.id }}">{{ news.title }}</a></h2>
  <h3> {{news.timestamp }}</h3>
  <p>{{ news.body }}</p>
  {% else %}
  <p>no recent news</p>
  {% endif %}

</div>
{% endblock %}
