<!doctype html>
<html lang=en>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <body>
    <div class=nav>
      <div id=logo>
	<a href="{{ url_for('general.index') }}">tabs</a>
      </div>
      <div id=menu>
	<ul>
	  <li><a href="{{ url_for('general.index') }}">home</a></li>
	  <li><a href="{{ url_for('general.news') }}">news</a></li>
	  <li><a href="{{ url_for('general.updates') }}">updates</a></li>
	  <li><a href="{{ url_for('docs.index') }}">documentation</a></li>
	  <li><a href="{{ url_for('tracker.index') }}">tracker</a></li>
	</ul>
      </div>
    </div>

    <div class=content>
    {% block body %}{% endblock %}
    </div>
    
    <footer>
      <p>
	2015 - <a href="http://www.fureylab.web.unc.edu">Furey Lab</a>,
	<a href="http://www.unc.edu">The University of North Carolina at Chapel Hill</a>
      </p>
    </footer>
  </body>
</html>
