{% extends "base_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class=forms>
  <h1>new preparation</h1>
  <form action="" method="post" name="new_preparation">
    {{ form.hidden_tag() }}
    <table>
      <tr>
	<td><label>Sample: </label></td>
	<td>
	  <select id="sample" name="sample">
	    {% for sample in samples %}
	    <option value="{{ sample.id }}">{{ sample.project.name }} | {{ sample.name }}</option>
	    {% endfor %}
	  </select>
	</td>
      </tr>
      {% for field in form if field.id != 'csrf_token'and field.id != 'sample' %}
      <tr>
	<td>{{field.label}}:</td>
	<td>{{field}}</td>
      </tr>
      {% endfor %}
      <tr>
	<td><input type="submit" value="post"></td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
