{% extends "base_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class=forms>
  <h1>new processing</h1>
  <form action="" method="post" name="new_processing">
    {{ form.hidden_tag() }}
    <p><label>Sequencing: </label>
      <select id="sequencing" name="sequencing">
	{% for seq in sequencing %}
	<option value="{{ seq.id }}">{{ seq.preparation.name }} | {{ seq.name }}</option>
	{% endfor %}
      </select>
    <p>Name: {{ form.name }}</p>
    <p>Host: {{ form.host }}</p>
    <p>CMD: {{ form.cmd }}</p>
    <p><input type="submit" value="post"></p>
  </form>
</div>
{% endblock %}
