{% extends "base_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class=forms>
  <h1>new sequencing</h1>
  <form action="" method="post" name="new_sequencing">
    {{ form.hidden_tag() }}
    <p><label>Sample: </label>
      <select id="sample" name="sample">
<!--	<option value="" disabled="disabled" selected="selected">Please select your sample</option> -->
	{% for sample in samples %}
	<option value="{{ sample.id }}">{{ sample.project.name }} | {{ sample.name }}</option>
	{% endfor %}
      </select>
    <p>Type: {{ form.name }}</p>
    <p><input type="submit" value="post"></p>
  </form>
</div>
{% endblock %}
